.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 55%;
  margin: 2rem auto 1rem auto;
  padding: 1rem 2rem;
  background-color: rgb(100, 100, 100);
}

.recipeTitle {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.subTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.difficulty {
  margin-bottom: 3rem;
}

.subTitleContainer .preparationTime,
.cookingTime {
  width: 50%;
}

.preparationTime {
  text-align: end;
}

.innerBlockTitle {
  margin: 0 0 1rem 2rem;
  text-decoration: underline;
}

.innerBlock {
  margin-bottom: 2rem;
  padding: 0 3rem;
  width: 100%;
}

.innerBlockLine {
  margin: 0 1rem 1rem 1rem;
}

.lineBreak {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 1rem;
}

.recipeTitle,
.innerBlockTitle,
.innerBlockLine,
.preparationTime,
.cookingTime {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
