.container {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 75%;
  margin: 2rem auto 1rem auto;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

.recipeTitle {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.subTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 15px;
}

.subTitleContainer .preparationTime,
.cookingTime,
.difficulty {
  width: 33%;
}

.preparationTime {
  text-align: end;
}

.innerBlockTitle {
  margin: 0 0 1rem 2rem;
}

.innerBlock {
  margin-bottom: 2rem;
  padding: 0 3rem;
  width: 100%;
}

.innerBlockLine {
  margin: 0 1rem 1rem 1rem;
}

.lineBreak {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 1rem;
}
