.generatedRecipePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
