/* page.module.css */
.container {
  padding: 2rem;
  background: #f6f7f8;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  margin-top: 1%;
  width: 50%;
  color: #000000;
}

.containerBox {
  padding: 0.5rem;
  background: #ecedef;
  border-radius: 1rem;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
  margin: 0 auto;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.9;
}

.memberList {
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin-bottom: 10px;
}

.inviteToken {
  font-family: monospace;
  padding: 5px 10px;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.deleteForm {
  margin: 0;
}

.editBtn {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.editBtn:hover {
  background-color: #127500;
  color: #ffffff;
}
.deleteBtn {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.deleteBtn:hover {
  background-color: #127500;
  color: #ffffff;
}

.leaveBtn {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.leaveBtn:hover {
  background-color: #127500;
  color: #ffffff;
}

.message {
  margin-top: 16px;
  color: #ef1212;
}

.icon {
  margin-right: 8px;
  vertical-align: middle;
}

.adminBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fef3c7;
  color: #b45309;
  width: 32px; /* Set width for the circle */
  height: 32px; /* Set height for the circle */
  border-radius: 50%; /* Make it a circle */
  font-size: 0.85rem;
  font-weight: 600;
}

.transferAdminBtn {
  background-color: #16723f;
  display: flex;
  gap: 0.25rem; /* reduced gap */
  border: none;
  border-radius: 0.25rem; /* smaller border radius */
  padding: 0.25rem 0.5rem; /* reduced padding */
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.875rem; /* smaller font size */
}

.memberItem {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* space between name, badge, and button */
}
